.toolbar {
    position:fixed;
    top:0;
    display:flex;
    z-index:200;
    height:3rem;
    padding:0 1rem;
    align-items:center;
    justify-content:space-between;
    width:100%;
    background-color: #964f15;
}

@media only screen and (max-width:600px) {
    .nav-items{
       display:none;
    }
}