.modal {
    position: fixed;
    z-index:900;
    width:30vw;
    height:30vh;
    margin: 25vh 35vw;
    background-color: antiquewhite;
}

@media only screen and (max-width:900px) {
  .modal {
    width:70vw;
    height:50vh;
    margin: 15vh 15vw;
  }
}
